@mixin header-item($margin-left, $margin-right) {
  font-family: 'LatoBold', sans-serif;
  font-size: 14px;
  font-weight: 400;

  display: inline-block;

  height: $header-height;
  margin-right: $margin-right;
  margin-left: $margin-left;

  transition: color .25s;
  text-decoration: none;

  color: $header-nav-item-color;

  &:hover {
    color: $base-color;
  }
}
