$body-bg: #eee;
$base-color: #009688;

$container-width: 1170px;
$petition-list-width: 800px;
$aside-width: 338px;

$button-big-height: 40px;
$button-big-radius: 3px;

$tag-height: 24px;
$tag-bg: #eee;
$tag-bg-hover: #e0e0e0;
$tag-color: #959595;

$social-size: 32px;
$social-facebook-bg: #3b5998;
$social-vk-bg: #45668e;
$social-twitter-bg: #55acee;
$social-goolge-plus-bg: #dc4e41;

$header-bg: #fff;
$header-height: 65px;
$header-nav-item-color: #959595;
$header-nav-item-underline: 3px;

$jumbotron-height: 340px;
$jumbotron-bg: url('http://i.imgur.com/Puiq9kA.jpg');
$jumbotron-filter-opacity: .85;

$aside-block-title-color: #656565;
$aside-block-text-color: #959595;
