$body-bg: #eee;
$base-color: #009688;

$container-width: 1170px;
$petition-list-width: 800px;
$aside-width: 338px;

$button-big-height: 40px;
$button-big-radius: 3px;

$tag-height: 24px;
$tag-bg: #eee;
$tag-bg-hover: #e0e0e0;
$tag-color: #959595;

$social-size: 32px;
$social-facebook-bg: #3b5998;
$social-vk-bg: #45668e;
$social-twitter-bg: #55acee;
$social-goolge-plus-bg: #dc4e41;

$progress-bar-large-size: 150px;
$progress-bar-large-inner-size: 112px;
$progress-bar-large-color: #454545;
$progress-bar-large-inner-bg: #fff;

$header-bg: #fff;
$header-height: 65px;
$header-nav-item-color: #959595;
$header-nav-item-underline: 3px;

$jumbotron-height: 340px;
$jumbotron-bg: url('http://i.imgur.com/Puiq9kA.jpg');
$jumbotron-filter-opacity: .85;

$aside-block-title-color: #656565;
$aside-block-text-color: #959595;

$petition-title-color: #454545;
$petition-author-color: #959595;
$petition-description-color: #454545;
$petition-date-color: #959595;
$petition-action-color: #959595;

$petition-small-height: 238px;
$petition-small-logo-size: $petition-small-height;
$petition-small-logo-opacity: 0.6;
$petition-small-logo-opacity-hover: 0.7;
$petition-small-underline: #f5f5f5;
$petition-small-action-height: 20px;
