$body-bg: #eee;

$base-color: #009688;

$container-width: 1170px;

$header-bg: #fff;
$header-height: 65px;
$header-nav-item-color: #959595;
$header-nav-item-underline: 3px;

$jumbotron-height: 340px;
$jumbotron-bg: url('http://i.imgur.com/Puiq9kA.jpg');
$jumbotron-filter-opacity: .85;

$button-big-height: 40px;
$button-big-radius: 3px;
