.header {
  line-height: $header-height;

  width: 100%;
  height: $header-height + $header-nav-item-underline;

  background-color: $header-bg;
}

.header__logo {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 700;

  margin-right: 32px;

  text-decoration: none;

  color: $base-color;
}

.header__nav-item {
  @include header-item(0px, 32px);
}

.header__nav-item--active {
  height: $header-height - $header-nav-item-underline;

  color: $base-color;
  border-bottom: $header-nav-item-underline solid $base-color;
}

.header__auth-item {
  @include header-item(32px, 0px);
}
