.jumbotron {
  @include color-filter($base-color, $jumbotron-filter-opacity);
  @include background-image($jumbotron-bg, center bottom);

  display: table;

  width: 100%;
  height: $jumbotron-height;
}

.jumbotron__content {
  position: relative;

  display: table-cell;

  text-align: center;
  vertical-align: middle;
}

.jumbotron__title {
  font-family: 'LatoBold', sans-serif;
  font-size: 30px;

  margin-top: 14px;

  color: #fff;
}

.jumbotron__subtitle {
  font-family: 'LatoRegular', sans-serif;
  font-size: 14px;

  width: 340px;
  margin: 14px auto 28px;

  color: #fff;
}

.jumbotron__action {
  @include button-big(200px);

  color: #fff;
  border: 2px solid #fff;

  &:hover {
    color: $base-color;
    background-color: #fff;
  }
}
